@model ECommerceService.API.Events.User2FAEnableEvent

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Code</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h2 {
            color: #333;
        }

        p {
            color: #555;
            line-height: 1.5;
        }

        .otp {
            font-size: 24px;
            font-weight: bold;
            color: #2c3e50;
            background-color: #f0f0f0;
            padding: 10px 20px;
            display: inline-block;
            border-radius: 5px;
            margin: 20px 0;
        }

        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #777;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Hello, @Model.FirstName!</h2>
        <p>We are pleased to inform you that Two-Factor Authentication (2FA) has been successfully enabled on your account.</p>
        <p>With 2FA, your account is now more secure. Each time you log in, you will be required to enter a unique code in addition to your password. This code will be sent to your registered email address.</p>
        <p>If you did not enable 2FA or believe this action was taken without your permission, please contact our support team immediately to secure your account.</p>
        <p>If you have any questions or need further assistance, please do not hesitate to contact our support team.</p>
        
        <br/>
        <p class="footer">Best regards,<br>The Clevont Enterprise Team</p>
    </div>
</body>
</html>
